main {
    margin: 120px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 237, 228);
}

section {
    margin-left: 20px;
}


/* start of menu */

.top-banner {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu div {
    margin: 30px;
}

.menu div a {
    text-decoration: none;
    color: rgb(19, 15, 15);
}


/* start of Prebook and Main camera section  */

.prebook-cam {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.prebook-cam h1 {
    margin-top: 100px;
}

.prebook-cam article {
    width: 60%;
}

.prebook {
    width: 200px;
    height: 50px;
    color: whitesmoke;
    background-color: #E02C6D;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 40px;
}


/* company section starts here  */

.company {
    margin-top: 70px;
    margin-left: 60px;
}

.company img {
    margin: 20px;
}


/* popular products styles start here  */

.popular-coll {
    font-size: 12px;
}

.popular-coll h2 {
    margin-left: 390px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    margin-top: 30px;
}

.products .product img {
    width: 250px;
    height: 250px;
}